.Landinginfo_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 3px;
}

.Landinginfo_info H3{
    color: rgb(189, 182, 182);
}

.Landinginfo_info_titulo_y_subtitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.Landinginfo_info_fecha_y_lugar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 18px 0 36px 0;
}

.Landinginfo_info_como_llegar_al_hotel:hover{
    transition: linear 0.2s;
    font-size: 14px;
    
}

.Landinginfo_info_fecha_y_lugar h2{
    color: rgb(186, 119, 211);
}

.Landinginfo_info_fecha_y_lugar h3{
    color: rgb(189, 182, 182);
}

.Landinginfo_info_a-quien-va-dirigido-y-que-aprenderas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 18px 0 36px 0;
}

.Landinginfo_info_a-quien-va-dirigido-y-te-gusta{
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: justify;
    line-height: 2;
    font-weight: 450;
    margin-top: 25px;
    margin-bottom: 45px;
}

.Landinginfo_info_a-quien-va-dirigido-comprender_y_operar{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 75px;
    text-align: justify;
    padding: 25px;
    line-height: 2;
}

.Landinginfo_info_a-quien-va-dirigido-comprender_y_operar p{
    padding: 25px;
}

.Landinginfo_info_a-quien-va-dirigido-adivinar{
    width: 43%;
    display: flex;
    justify-content: center;
    text-align: justify;
    line-height: 2;
    font-weight: 450;
}